:root{
    --cor-principal: rgba(48, 46, 49, 0.796);
    --cor-secundaria: rgb(21, 161, 226);
}


body {
    display: relative;
    justify-content: center;
    background-color: rgb(216, 216, 216);
}

.menu{
    width: 250px;
    height: 100%;
    left: 0;
    bottom: 0px;
    position:fixed;
    display: inline-block;
    background-color: rgba(48, 46, 49);
    font-family: 'Lexend Deca', sans-serif;
    
}

.menu ul{
    background-color: var(--cor-principal);
    top: 70px;
    position: absolute;
    width: 100%;
}

.menu ul li a{
    color: #FFF;
    padding: 20px 5px;
    display: block;
    text-decoration: none;
}

.menu ul li a:hover{
    background-color: var(--cor-secundaria);
}

.main{
    width: 1000px;
    text-align: center;
    left: 10%;
    bottom: 50px;
    margin: 0 auto;
    position:relative;
    font-family: 'Lexend Deca', sans-serif;

}
.main p{
    margin-bottom: 30px;
}

.header{
    font-size: x-large;
    margin-top: 80px;
}

.titulo{
    font-family: 'Lobster', cursive;
    font-size: 80px;
}

#descricao{
font-size: 20px;
}

#tratamento{
    font-size:30px ;
    margin-bottom: 50px;
    font-weight: bold;
}

.main img{
    width: 400px;
}

.content {
    width: 940px;
    margin: 0 auto;
    padding: 30px 0;
}

.content li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    padding: 0 0px 0 15px;
    box-sizing: border-box;
    border: 2px solid transparent;
    border-radius: 10px;
}

.content h2{
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
}

.content p{
    text-indent: 2px;
}

.content img{
    width: 200px;
    margin: 0 50px;
}

footer{
    color: #FFF;
    position: relative;
    width: 1099px;
    left: 18.5%;
    text-align:center;
    background: url("fundo(2).jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.footer{
    padding: 20px 20px;
    font-size: 20px;
    color: #FFF;
    font-family: 'Lexend Deca', sans-serif;

}

.social ul li{
    display: inline-block;
    padding: 20px 10px;
    margin-bottom: 10px;
    width: 100px;
    font-size: 2em;

}

.insta, .face{
    color: #FFF;
     
}

